<h2>Login Page</h2>
<form method="POST" action="/login">
    <label>Name: </label>
    <input type="text" size="20" name="username" />
    <label>Password: </label>
    <input type="password" size="20" name="password" />
    <input type="submit" value="Login" />
</form>