<% include partials/header %>
<div    class="container">
    <div class="jumbotron">
        <h1>Jaseem wishes you</h1>
        <p>Eid Mubarak!</p>
        <a href="/campgrounds" >View all campgrounds</a>        
    </div>
</div>

<% include partials/footer %>