<% include partials/header %>
<div class="container">
    <div class="jumbotron">
        
        <div class="text-center">
            <h3>Create a New Campground</h3>
            
            <form method="POST" action="/campgrounds/new">
                
                <div class="form-group">
                    <input type="text" class="form-control" name="title" placeholder="Title" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="image" placeholder="URL" />
                </div>
                 <div class="form-group">
                    <input type="text" class="form-control" name="description" placeholder="Description" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-md btn-block" value="Sumbit!" />
                </div>
            </form>
            <a href="/campgrounds" >Go back.</a>
        </div>
    </div>
</div>

<% include partials/footer %>